@model WebApplication2.Models.ProjectAddEditView
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())

{

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Project.CustomerName)
            @Html.TextBoxFor(m => m.Project.CustomerName)
            @Html.ValidationMessageFor(m => m.Project.CustomerName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">

            @Html.LabelFor(m => m.Project.ProjectName)
            @Html.TextBoxFor(m => m.Project.ProjectName)
            @Html.ValidationMessageFor(m => m.Project.ProjectName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Project.ProjectId)
            @Html.TextBoxFor(m => m.Project.ProjectId)
            @Html.ValidationMessageFor(m => m.Project.ProjectId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Project.Start_Date)
            @Html.EditorFor(m => m.Project.Start_Date, "{DD/MM/YYYY}")
            @Html.ValidationMessageFor(m => m.Project.Start_Date, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Project.End_Date)
            @Html.EditorFor(m => m.Project.End_Date, "{DD/MM/YYYY}")
            @Html.ValidationMessageFor(m => m.Project.End_Date, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Project.ProjectStatus)
            @Html.DropDownListFor(m => m.Project.ProjectStatus, new SelectList(Model.ProjectStatus, "KeyId", "KeyName"), "Select Project Status", new { @class = "form-group" })
            @Html.ValidationMessageFor(m => m.Project.ProjectStatus, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Project.LocationGroup)
            @Html.DropDownListFor(m => m.Project.LocationGroup, new SelectList(Model.Locationgroup, "Id", "Name"), "Select Location Group", new { @class = "form-group" })
            @Html.ValidationMessageFor(m => m.Project.LocationGroup, "", new { @class = "text-danger" })
        </div>




        <div class="form-group">
            @Html.LabelFor(m => m.Project.PayRollState)
            @Html.DropDownListFor(m => m.Project.PayRollState, new SelectList(Model.Payroll, "Id", "Name"), "Select PayRoll State", new { @class = "form-group" })
            @Html.ValidationMessageFor(m => m.Project.PayRollState, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Project.SalesPerson)
            @Html.DropDownListFor(m => m.Project.SalesPerson, new SelectList(Model.Salesperson, "Id", "Name"), "Select Sales Person", new { @class = "form-group" })
            @Html.ValidationMessageFor(m => m.Project.SalesPerson, "", new { @class = "text-danger" })
        </div>

    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Project.ProjectCategory)
        @Html.DropDownListFor(m => m.Project.ProjectCategory, new SelectList(Model.ProjectCategory, "KeyId", "KeyName"), "Select Project Category", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.ProjectCategory, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project.ProjectType)
        @Html.DropDownListFor(m => m.Project.ProjectType, new SelectList(Model.ProjectType, "KeyId", "KeyName"), "Select Project Type", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.ProjectType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project.SubDomain)
        @Html.DropDownListFor(m => m.Project.SubDomain, new SelectList(Model.Domains, "Id", "Name"), "Select Sub Domain", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.SubDomain, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project.TimeSheetRepresentative)
        @Html.DropDownListFor(m => m.Project.TimeSheetRepresentative, new SelectList(Model.TimesheetRepresent, "Id", "Name"), "Select Timesheet Representative", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.TimeSheetRepresentative, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project.ClientInvoiceGroup)
        @Html.DropDownListFor(m => m.Project.ClientInvoiceGroup, new SelectList(Model.ClientInvoiceGroup, "KeyId", "KeyName"), "Select Invoice Group", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.ClientInvoiceGroup, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project.TimeSheetType)
        @Html.DropDownListFor(m => m.Project.TimeSheetType, new SelectList(Model.TimeSheetType, "KeyId", "KeyName"), "Select Timesheet Type", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.TimeSheetType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project.IsVMSTimeSheet)
        @Html.RadioButtonFor(m => m.Project.IsVMSTimeSheet, "Yes") Yes
        @Html.RadioButtonFor(m => m.Project.IsVMSTimeSheet, "No") No
        @Html.ValidationMessageFor(m => m.Project.IsVMSTimeSheet, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project.PracticeType)
        @Html.DropDownListFor(m => m.Project.PracticeType, new SelectList(Model.PracticeType, "KeyId", "KeyName"), "Select Practice Type", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.PracticeType, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Project.Recruiter)
        @Html.DropDownListFor(m => m.Project.Recruiter, new SelectList(Model.Recruiters, "Id", "Name"), "Select Recruiter", new { @class = "form-group" })
        @Html.ValidationMessageFor(m => m.Project.Recruiter, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Submit" />
}


<div>
    @Html.ActionLink("Index","Sample")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>