
@{
    ViewBag.Title = "Table";
}

<h2>Table For Project </h2>

<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>


<body>

    <table>
        <tr>
            <th>CustomerName</th>
            <th>ProjectName</th>
            <th>ProjectId</th>
            <th>Start_Date</th>
            <th>End_Date</th>
            <th>ProjectStatus</th>
            <th>LocationGroup</th>
            <th>PayRollState</th>
            <th>SalesPerson</th>
            <th>ProjectCategory</th>
            <th>ProjectType</th>
            <th>SubDomain</th>
            <th>TimeSheetRepresentative</th>
            <th>ClientInvoiceGroup</th>
            <th>TimeSheetType</th>
            <th>IsVMSTimeSheet</th>
            <th>PracticeType</th>
            <th>Recruiter</th>
        </tr>

       
        {
            


            <tr>
                <td>@Model.CustomerName</td>
                <td>@Model.ProjectName</td>
                <td>@Model.ProjectId</td>
                <td>@Model.Start_Date</td>
                <td>@Model.End_Date</td>
                <td>@Model.ProjectStatus</td>
                <td>@Model.LocationGroup</td>
                <td>@Model.PayRollState</td>
                <td>@Model.SalesPerson</td>
                <td>@Model.ProjectCategory</td>
                <td>@Model.ProjectType</td>
                <td>@Model.SubDomain</td>
                <td>@Model.TimeSheetRepresentative</td>
                <td>@Model.ClientInvoiceGroup</td>
                <td>@Model.TimeSheetType</td>
                <td>@Model.IsVMSTimeSheet</td>
                <td>@Model.PracticeType</td>
                <td>@Model.Recruiter</td>

            </tr>

            }

        </table>

    <div>
        @Html.ActionLink("Create", "Index")
        @Html.ActionLink("Edit", "Index")
    </div>



</body>
</html>
